---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import PostCard from '../components/PostCard.astro';
import Footer from '../components/Footer.astro';
import { title } from './projects/cherry-box.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const featuredProjects = [
	{ title: "Flashcards", url: "projects/flashcards" },
	{ title: "Kochanowski.js", url: "projects/kochanowski" },
	{ title: "Trolley Problems", url: "https://trolley.mmusielik.xyz" }
];
// const allProjects = await Astro.glob('../pages/projects/*');
// const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<style>
	@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>

<Layout title="CheryX's website">
	<div id="background">
		<main>
			
			<Header />

			<h1>Welcome to my lair!</h1>

			<p>
				Hi there, my name is CheryX! I'm your average programmer who works on
				programming projects at night and gets overwhelmed by things during the day.
			</p>
	
			<p>
				I mostly program web apps using JavaScript or Node.js,
				but I also tend to create very random or useless stuff.
				Currently, I'm writing an app for studying with flashcards <!-- MOTD -->
				because I got frustrated with the lack of features 
				of the alternatives available online.
				<small><i>and i am <b>definetly</b> not going to use paper</i></small>.
			</p>
	
			<h2>Featured projects</h2>
	
			<div id="projects">
				{featuredProjects.slice(0, 3).map((data) => <PostCard title={data.title} url={data.url} pub="0" />) }
			</div>

			<h2>Articles</h2>
	
			<div id="featured">
				{allPosts.slice(0, 6).map((post) => <PostCard title={post.frontmatter.title} url={post.url} pub={post.frontmatter.pubDate} />) }
			</div>

			<Footer />

		</main>
	</div>
</Layout>

<style>
	#projects, #featured {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
		gap: 1em;

		margin-bottom: 3em;
	}
</style>
